@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    margin: 0%;
}
img{
    width: 50px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

   
   
}
h1,h3{
    font-family: cursive;
}
.logo{
    margin: 2px 40px;
    text-align: center;
    padding: 4px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#cartimg{
    height: 25px;
    width: 25px;
    margin-right: 20px;
}


.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 40px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:2px 30px;
    position: relative;
    text-align: center;
    
    

}
.nav-links ul li a{
    text-decoration: none;
    color: #000;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    display: block;
    height: 2px;
    background-color: hsla(0, 20%, 91%, 0.911);
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.design img{
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(20%);

}
.banner{
    background-image:url("images/bg.jpg") ;
    /* position: relative; */
    background-size: cover;

}
.heading-1{
    font-size: 50px;
    margin-top: -200px;
    margin-left: 150px;
   
    
}
.heading-2{
    font-size: 30px;
}
.textbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.home-text{
    width: 200px;
    font-family: 'Satisfy', cursive;
    
}


button{
    border: none;
    color: white;
    background-color: red;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 60px;
    margin-bottom:200px;
}

.head-container{
    margin-top: 15%;
    margin-left: 150px;
}
/* .homecontent{
    display: flex;
    justify-content: space-around;
} */
/* .home-head{
    width: 400px;
    margin-left: 60px;
}
 */
 
 footer{
    background-color: hsl(0, 0%, 19%);
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
   
}
.container-footer{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom: 25px;
}
.col h3{
    color:hsla(41, 89%, 60%, 0.756) ;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '' ;
    height: 3px;
    width: 0px;
    background-color: hsla(41, 89%, 60%, 0.756);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col h3:hover::after{
    width: 30px;
}
.col .social a i{
    color:hsla(41, 89%, 60%, 0.756) ;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;

}
.col .social a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none ;
    margin-bottom: 5px;
    color: #f2f2f2f2;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: hsla(41, 89%, 60%, 0.756);
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color: hsla(41, 89%, 60%, 0.756);
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;

}
.col .contact-details i{
    margin-right: 15px;
}
.row .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.row .form input{
    background-color: #1a1c20ff;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: hsla(41, 89%, 60%, 0.756);
}
